# PostgreSQL Database
PGUSER=postgres
PGHOST=localhost
PGDATABASE=quickmark_db
PGPASSWORD=admin
PGPORT=5432

# JWT
JWT_SECRET="aeff7d79bbb5dafcec88d6f4c5e48d6117c121991a0fd963d605562e62c01665"
JWT_EXPIRES_IN=7d

# Redis (choose one method)
REDIS_URL=redis://default:password@host:port
# or
REDIS_HOST=localhost
REDIS_PORT=6379